@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;400&display=swap");

body {
  background: linear-gradient(90deg, #bbdf2b 23.66%, #00afc8 101.77%);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  height: 100vh;
}
* {
  box-sizing: border-box;
}
